@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
}

.header {
    display:flex;
    background-color: #1f2937;
    align-items: center;
    border: 2px solid red;
    justify-content: space-between;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.nav {
    color: #e5e7ee;
    font-size: 18px;
}

.hero-banner {
    display: flex;
    gap: 16px;
    background-color: #1f2937;
    border: 2px solid red;
    justify-content: space-evenly;
}

.banner-text {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 2px solid red;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    border: 2px solid red;
}

.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up {
    background-color: #3882f6;
    color: #e5e5e5;
}

.hero-image {
    display: flex;
    align-items: center;
    background-color: #929191;
}

.hero-image div {
    padding: 25px;
}

.random-info {
    text-align: center;
}

.random-info .section-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.container {
    display: flex;
    gap: 16px;
}

.child {
    display: flex;
    flex-direction: column;
}

.image-box {
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937
}

.quote-author {

}

.sign-up-banner {
    display: flex;
    gap: 16px;
    background-color: #3882f6;
    color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: small;
}